body {
    background-image: url('imgs/background.svg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}

.inverted-color-scheme {
    background-color: $color--main;
    color: $color--light;
    background-image: url("imgs/thumbprint.svg");
    background-position: top right;
    background-size: 60%;
    background-repeat: no-repeat;
}

section {
    padding: 3em;

    &.section-media {
        padding: 0;
    }
}

.section-hero {
    position: relative;
    min-height: 90vh;
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: $breakpoint-medium) {
    .section-hero {
        font-size: 1.25em;
    }
}

@media screen and (min-width: $breakpoint-large) {
    .section-hero {
        padding-top: 10em;
        padding-bottom: 10em;
    }
}

.site-branding {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em;
}

.site-logo {
    max-width: 7.5em;
}

.site-tagline {
    max-width: 35em;
    margin: 0 auto;
}

.cta-text {
    display: block;
    margin-bottom: 0.5em;
}

@media screen and (min-width: $breakpoint-large) {
    .cta-text {
        display: inline;
    }
}

.section-centered {
    .narrow-width {
        max-width: 30em;
        text-align: center;
        margin: 0 auto;
    }
}

.icon-columns {
    margin: 3em auto;
    max-width: 60em;

    .col {
        width: 100%;
        padding: 0 1em;
        text-align: center;
        margin-bottom: 4em;
    }

    img {
        max-width: 7.5em;
    }
}

@media screen and (min-width: $breakpoint-medium) {

    .icon-columns {
        display: flex;
        flex-wrap: wrap;

        .col {
            text-align: left;
            width: 50%;
        }
    }

}

@media screen and (min-width: $breakpoint-xlarge) {

    .icon-columns {
        flex-wrap: nowrap;

        .col {
            font-size: 0.875em;
        }
    }

}


.section-footer {
    position: relative;
    background-color: $color--dark;
    color: white;
}

.footer-inner {
    border-top: 0.125em solid white;
    padding-top: 1em;
    font-size: 0.875em;

    ul {
        padding-right: 5em;
    }
}

.social-navigation {

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        display: inline-block;
    }
}

@media screen and (min-width: $breakpoint-large) {

    .social-navigation {
        position: absolute;
        bottom: 2em;
        right: 2em;
    }

}
